{% extends 'attendance/base.html' %}
    {% load static %}

    {% block content %}





          <!-- Page Content -->
            
    <h1>List of Classes</h1>
    <div class="card mb-3">
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                        <th>Class</th>
                        <th>Course</th>
                        <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                    <tr>
                        <td>Computer Science : 5 A</td>
                        <td>Software Engineering</td>
                        <td>
                            
                           
                                <a class="btn btn-danger" href="http://127.0.0.1:8000/info/teacher/6/Students/attendance/">View Students</a>

                            

                        </td>
                    </tr>
                    
                    <tr>
                        <td>Computer Science : 5 B</td>
                        <td>Database Management System</td>
                        <td>
                            
                         
                                <a class="btn btn-danger" href="http://127.0.0.1:8000/info/teacher/28/Students/attendance/">View Students</a>

                            

                        </td>
                    </tr>
                    

                  </tbody>
                </table>
              </div>
    </div>


        </div>
        <!-- /.container-fluid -->


    {% endblock %}