{% extends 'attendance/base.html' %}
    {% load static %}

    {% block content %}
    <div class="d-flex justify-content-center align-items-center mt-5">
      <div class="card">
        <img src="https://www.imgonline.com.ua/examples/qr-code-url.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Dats Structure & Algorithems</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prof. Sandeep Jain</li>
          <li class="list-group-item">Second Year</li>
          <li class="list-group-item">Lab 231</li>
        </ul>
      </div>
    </div>


    {% endblock %}
