<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

      {% load static %}

    <!-- Bootstrap core CSS-->
    <link href="{% static '/attendance/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static '/attendance/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="{% static '/attendance/bootstrap/css/sb-admin.css' %}" rel="stylesheet">

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-login mx-auto mt-5">
        <div class="card-header">Register</div>
        <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <p><input type="text" name="first_name" class="form-control" placeholder="First Name"></p>
              <p><input type="text" name="last_name" class="form-control" placeholder="Last Name"></p>
              <p><input type="select" name="roll_no" min="5" max="5" class="form-control" placeholder="Roll Number"></p>
              <p><select name="year" class="form-control mb-3">
                <option selected>Year</option>
                <option value="1">First</option>
                <option value="2">Second</option>
                <option value="3">Third</option>
                <option value="4">Fourth</option>
              </select></p>
              <p><select name="branch" class="form-control  mb-3">
                <option selected>Branch</option>
                <option value="CE">CE</option>
                <option value="ME">ME</option>
                <option value="CSE">CSE</option>
                <option value="AIML">AIML</option>
                <option value="ETC">ETC</option>
              </select></p>
              <p><select name="batch" class="form-control mb-3">
                <option selected>Batch</option>
                <option value="CE">A</option>
                <option value="ME">B</option>
                <option value="CSE">C</option>
              </select></p>
              <button class="btn btn-success">Register</button>
            </form>

        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/attendance/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/attendance/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static '/attendance/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  </body>

</html>
